.container {
       justify-content: space-between;
        box-shadow:  #cecece;
        background-color: rgb(243, 243, 243);
        padding: 20px 20px;
        border: 1px solid #cecece;
        border-radius: 10px;
        /* align-items: center;
        margin-right: 400px; */
        height: 250px;
        width: 750px;
        display: flex;
        
  
}

.left {
    
    height: 100%;
    width: 300px;
    
}

.middle {
    
    height: 100%;
    width: 400px;
}

.right {
    
    height: 100%;
    width: 500px;
}



.container h4 {
    font: normal normal bold 600 14px/24px Barlow;
    letter-spacing: 0px;
    color: #191919;
}

.para  {
    /* font: normal normal 600 14px/24px Barlow; */
    letter-spacing: 0px;
    margin-bottom: 15px ;
    color: #191919;
    
}

.resume {
    display: flex;
    justify-content: space-between;
}

.card-top div:last-child{
    margin-right: 20px;
}


.employee-table {
    margin-top: 110px;
}