<h1>{{textValue}}</h1>

<div class="mainWrapper">
  <h2>Mock Server</h2>
  <div class="innerBody">
    <div class="innerBody2">
      <button>Reset</button>
    </div>
  </div>

</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/react.js"></script>
<script src="/javascripts/reactDom.js"></script>
<script src="/javascripts/index.js"></script>